 /* Fonts */

@font-face {
    font-family: LGCLFont;
    src: url(  "../font/Louis_George_Cafe_Light.ttf" );
}

@font-face {
    font-family: LGCLFontBold;
    src: url(  "../font/Louis_George_Cafe.ttf" );
}

 /* Elements */
body {
    font-family: LGCLFont;
    color: #000;
}

a {
  color: #6c7c00;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #6c7c00;
  text-decoration: none;
  background-color: transparent;
}

blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 0 0 2.5em;
}

.center_image {
  text-align: center;
  margin-left:  10%;
  margin-right: 10%;
}

.smaller_text {
  font-size: 10pt;
}

 /* General */
h5 {
  font-size: 10pt;
  font-weight: bold;
  padding-top: 18px;
}

 /* Top menu */
.top_menu {
  text-align: center;
  background-color: #ffffff;
  font-size: 11pt;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.top_navigator {
  padding: 0px;
  margin: 0px;
}

.top_navigator_mobile {
}

.top_menu_item {
  margin: 10px;
  margin-left: 20px;
  display: inline-block;
  text-decoration: none;
}

.top_menu_item_mobile {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
}

.top_menu_link {
  color: #133c3e;
}

 /* Titles */

.nav-title {
    fonte-size: 22px;
    line-height: 1.8;
    margin-top: 0px;
    color: #1f1f1f;
    padding: 10%;
    text-align: center;
}

 /* Content */

h3 {
    font-size: 1.24rem;
    padding-top: 20px;
    font-family: LGCLFontBold;
}

.also_de {
  font-size: 0.9rem;
}

.also_lan {
  background-color: whitesmoke;
}

.content {
    padding-left:  15%;
    padding-right: 15%;
    padding-top: 2%;
    fonte-size: 1.1rem;
    font-weight: bold;
    line-height: 1.9;
    overflow-wrap: break-word;
    word-break: break-word;
}

.content_signed {
    text-align: center;
    padding: 50px;
}

.signature {
  font-family: LGCLFontBold;
}

 /* Footer */

#footer {
    text-align: center;
    color: white;
}

.social_media {
  font-size: 32px;
}

.social_item {
  display: inline-block;
  padding: 16px;
}

.social_fb {
  color: #ceb6a1;
}

.social_insta {
  color: #a2cea1;
}

.social_twitter {
  color: #a1b9ce;
}

.social_sound {
  color: #be80bf;
}

.social_spot {
  color: #cea1a2;
}

.social_apple {
  color: #b3cea1;
}

.footer_text {
    padding-right: 25px;
    padding-bottom: 10px;
    text-align: right;
}

.blink {
    visibility: visible;
    display: inline;
}


 /* Waves */
.ocean {
  height: 65px; /* height of the waves */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%25003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;

}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    50% {transform: translateX(-25%);}
}

