/* Cover style with flowers and plants */
.cover-overlay {
  background-color: rgba(106, 106, 106, 0.65);
  height: inherit;
  width: inherit;
  padding: 2px;
}

.main_cover {
  background-image: url( '../img/covers/set_one/cover_one.png' );
}

.primary_cover {
  background-image: url( '../img/covers/set_one/cover_two.png' );
}

.secondary_cover {
  background-image: url( '../img/covers/set_one/cover_three.png' );
}

.footer_overlay {
  background-color: rgba(70, 55, 55, 0.35);
  height:inherit;
  width:inherit;
}
