/* Cover style with flowers and plants */
.cover-overlay {
  background-color: rgba(202, 202, 202, 0.30);
  height: inherit;
  width: inherit;
  padding: 2px;
}

.main_cover {
  background-image: url( '../img/covers/set_two/cover_one.png' );
}

.primary_cover {
  background-image: url( '../img/covers/set_two/cover_two.png' );
}

.secondary_cover {
  background-image: url( '../img/covers/set_two/cover_three.png' );
}

.footer_overlay {
  background-color: rgba(130, 26, 26, 0.55);
  height:inherit;
  width:inherit;
}
