.col_main {
  padding-right: 0% !important;
}

.row {
    margin-right: 0% !important;
}

/* */
#logo_oppressed {
  width: 15%;
}

 /* Cover overlay */
.cover {
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c3cbd6;
  background-position: center;
  text-align:center;
}

.page_top {
  background-color: whitesmoke;
  padding: 3px;
}

.main_title {
  font-size: 14pt;
  font-weight: bold;
  line-height: 2.0;
  margin-top: 0px;
  color: #ffffff;
}

.main_title_black {
  font-size: 14pt;
  font-weight: bold;
  line-height: 2.0;
  margin-top: 0px;
  color: #000000;
}

.main_title_middle {
  padding-top: 1.7%;
  padding-left: 1%;
}

.unrest_logo {
  animation: rotation 40s infinite linear;
  width: 50px;
  float: right;
  margin: 1%;
}

/* Covers */
.generic_cover {
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* The rest in cover_styles */

/* News banners */
.news {

}

.big_news {
  color:#ffffff;
  text-align:center;
  margin-bottom:60px;
  margin-top:60px;
}

.item {
  background-color: whitesmoke;
  margin: 5%;
  margin-right: 0%;
  padding: 5%;
  text-align: left;
}

.item_image {
  object-fit: contain;
  width:100%;
}

.item_large {
  background-color: whitesmoke;
  margin: 5%;
  text-align: left;
  padding: 2%;

}

.item_large_nomargin {
    margin-left: 0px;
}


.no_margin_right {
  margin-right: 0px;
}

/* Header Title */

.main_article_title {
  color: #000000;
  font-size: 16pt;
}

.main_article_subtitle {
  color: #000000;
}

.main_article_description {
  color: #000000;
  padding-top: 5%;
}

.caption {
  color: #000000;
  padding-top: 2%;
}

.sub_caption {
  color: #000000;
}

.sub_caption_type {
  padding-top: 5%;
  text-align: right;
}

/* Main news */
.main_headline {
  color: #000000;
}

.main_headline:hover {
  color: #000000;
}

.main_headline:visited {
  color: #000000;
}

.main_headline:active {
  color: #000000;
}

.main_news {
  background-color: blue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news_title {
  color: #ffffff;
  font-weight: bold;
}

/* Unrest radio */
.unrest_radio {
  padding-left:  9%;
  padding-right: 9%;
}

.unrest_radio_box {
  background-color: #f5f5f59e;
  text-align:left;

}

.unrest_title {
  font-weight: bold;
}

/* Rows */
.news_rowleft {
  background-color:green;
  margin-left:3%;
}

.news_rowright {
  background-color:brown;
  margin-right:3%;
}
