 /* Cover overlay */
.cover {
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #c3cbd6;
  background-position: center;
}

.cover-overlay {
  background-color: rgba(238, 238, 238, 0.85);
  height: inherit;
  width: inherit;
}

 /* Scroll bar on top */
.scroll-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: red;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #fff;
}

.progress-bar {
  height: 6px;
  width: 0%;
}

/* Top menu height */
.top_menu_margin {
  margin-top: 1%;
}
