body {
  margin: 0px;
  font-family: Calibri;
  font-size: 14;
}

h2 {
  padding-bottom: 10px;
}

.title-contact {
  color: #3e3e3e;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.title-contact:before {
  content: attr(data-content);
  color: #bf1a2f;
}

.cover {
  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  background-image: url("../images/logo_large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.cover-alt {
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/logo_large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 680px;
  background-repeat: repeat-x;
}

.cover-overlay {
  background-color: rgb(134, 74, 22, 0.2);
}

.cover-overlay-alt {
  background-color: rgb(134, 74, 22, 0.4);
}

.sloth {
  height: auto;
  padding-top: 310px;
}

.sloth-alt {
  height: auto;
  padding-top: 90px;
  padding-bottom: 50px;
}

.ep-number {
  font-size: 50px;
  color:#bf1a2f;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ep-title {
  font-size: 50px;
  color: #3e3e3e;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.title_paragraph {
  background-color: #fff;
  text-align: center;
  background-color: whitesmoke;
}

.logo_text {
  margin-left: 200px;
  margin-right: 200px;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.entry {
  background-color: whitesmoke;
  margin-bottom: 80px;
}

.alt_entry {
  padding: 5px;
  background-color: whitesmoke;
  margin-bottom: 80px;
}

.final_entry {
  background-color: whitesmoke;
  padding: 2px;
  margin-bottom: 0px;
}

.indiv_paragraph {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 50px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.indiv_paragraph_final {
  text-align: center;
}

.alt_indiv_paragraph {
  min-height: 40px;

  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.indiv_paragraph_final {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.section_transcript {
  text-align: justify;
  text-justify: inter-word;
}

.extra {
  font-size: 14;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

a {
  text-decoration: none;
  color: rgb(134, 74, 22, 1);
}

.final_paragraph {
  background-color: #222121;
  color: white;
  padding: 20px;
  font-size: 14;
  text-align: center;
  font-family: Calibri;
}

.indiv_paragraph_final {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.final_paragraph {
  background-color: #222121;
  color: white;
  padding: 20px;
  font-size: 14;
  text-align: center;
  font-family: Calibri;
}

.section_table_of_contents {
  border: none;
  font-size: 10pt;
  font-family: Calibri;
  font-weight: normal;
}

.table_of_contents {
  border: none;
  font-size: 10pt;
  font-family: Calibri;
  font-weight: normal;
}

.final_paragraph a {
  color: #fff;
}
.social_media {
  font-size: 20pt;
  padding: 10px;
}

.social_item {
  display: inline;
  padding: 10px;
}

.contact {
  font-size: 14;
}

.end-line-page {
  margin-left:15%;
  margin-right:15%;
  margin-top:10px;
  margin-bottom:10px;
}
