body {
  margin: 0px;
  font-family: 'Varela Round';
  font-size: 16px;
}

h2 {
  padding-bottom: 10px;
}

.title-contact {
  color: #3e3e3e;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.title-contact:before {
  content: attr(data-content);
  color: #bf1a2f;
}

.cover {
  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  background-image: url("../images/logo_large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.cover-alt {
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/logo_large.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 680px;
  background-repeat: repeat-x;
}

.cover-overlay {
  background-color: rgb(134, 74, 22, 0.2);
}

.cover-overlay-alt {
  background-color: rgb(134, 74, 22, 0.4);
}

.sloth {
  height: auto;
  padding-top: 80px;
}

.sloth-alt {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ep-number {
  font-size: 50px;
  color:#6D8E48;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ep-title {
  font-size: 50px;
  color:#796451;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.languages {
  float: right;
  margin-top:-6px;
}

.lan {
  cursor: pointer;
}

.lan_all {
  background-color: #CEB6A1;
  padding:21px;
  color:#ffffff;
}

.lan_en {
  background-color:#A2CEA1;
  padding:21px;
  color:#ffffff;
}

.lan_ro {
  background-color:#A1B9CE;
  padding:21px;
  color:#ffffff; 
}

.lan_de {
  background-color:#CDA1CE;
  padding:21px;
  color:#ffffff;
}

.lan_hu {
  background-color:#CEA1A2;
  padding:21px;
  color:#ffffff;
}

.lan_current {
  padding:16px;
  padding-top:20px !important;  
  text-align: center;
  
  box-shadow: 2px 2px 2px 2px rgba(21, 21, 21, 0.22);
  color:white;
}

.logo {
  text-align:center;
  padding-top:20px;
}

.logo_text {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.logo_text_image {
  width:35%;
}

.logo_image {
  margin-top: 30px;
  color:#3e3e3e;
  margin-top:10px;
}

.logo_image_image {
  width:6%;
}

.logo_motto {
  margin-top: 20px;
  color:#bc0033;
}

.descriptor_ro {
  color:#5D87AC;
}

.descriptor_en {
  color:#81BD7F;
}

.random_image {
  text-align: center;
  padding-top: 10px;
}

.random_image_image {
  width:35%;
}

.entry_main {
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px
}

.entry {
  background-color: whitesmoke;
  padding-top: 10px;
}

.alt_entry {
  padding: 5px;
  background-color: whitesmoke;
  margin-bottom: 80px;
}

.final_entry {
  background-color: whitesmoke;
  padding: 2px;
  margin-bottom: 0px;
}

.episode_no {
  color:#5D87AC;
}

.episode_l {
  color:#81BD7F;
}

.episode_lr {
  color:#7FA0BD;
}

.indiv_paragraph {
  margin-right: 3%;
  margin-top: 40px;
  margin-bottom: 40px;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 50px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.indiv_paragraph_final {
  text-align: center;
}

.alt_indiv_paragraph {
  min-height: 40px;

  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.indiv_paragraph_final {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.section_transcript {
  text-align: justify;
  text-justify: inter-word;
}

.extra {
  font-size: 14px;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

a {
  text-decoration: none;
  color:#864A16;
}

.final_paragraph {
  background-color: #222121;
  color: white;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  font-family: 'Varela Round';
}

.indiv_paragraph_final {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.05);
}

.final_paragraph {
  background-color: #222121;
  color: white;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  font-family: 'Varela Round';
}

.section_table_of_contents {
  border: none;
  font-size: 10pt;
  font-family: 'Varela Round';
  font-weight: normal;
}

.table_of_contents {
  border: none;
  font-size: 10pt;
  font-family: 'Varela Round';
  font-weight: normal;
}

.final_paragraph a {
  color: #fff;
}
.social_media {
  display: inline-block;
  font-size: 20pt;
  padding: 6px;
}

.social_media_bottom {
  font-size: 20pt;
  padding: 15px;
}

.social_item {
  display: inline;
  padding: 10px;
}

.social_fb {
  color: #ceb6a1;
}

.social_insta {
  color: #a2cea1;
}

.social_twitter {
  color: #a1b9ce;
}

.social_sound {
  color: #cda1ce;
}

.social_spot {
  color: #cea1a2;
}

.contact {
  font-size: 14px;
}

ul {
	text-align:right;	
}

ul li{
	 display: inline;
	 list-style: none;

}

.above_logo {
  background-color: whitesmoke;
  padding: 5px;
}

.end-line {
  margin: 10 15%;
}

.title_color {
  color: #3e3e3e;
}
